/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {

	img {
		transition: opacity $t-duration ease-in-out;
	}

	img:hover {
		@media(hover:hover) {
			opacity: 0.9
		}
	}
}
