/* ------------------------------------------------------------ *\
	About
\* ------------------------------------------------------------ */

.about {

	.about__head {
		max-width: 42.1rem;
		margin-bottom: 2.7rem;
	}

	h5 {
		margin-bottom: 0.5rem;
	}

	h2 {
		text-transform: uppercase;
		letter-spacing: -0.07rem;
	}

	p:last-of-type {
		margin-bottom: 4.5rem;
	}

	.about__body {
		max-width: 58.7rem;
		margin-bottom: 7rem;
	}

	.about__actions {
		margin-top: -1.3rem;
	}

}