/* ------------------------------------------------------------ *\
	Services
\* ------------------------------------------------------------ */

.services {
	ul {
		list-style-type: none;
		display: flex;
	}

	li {
		flex: 0 0 calc(100% / 3);
	}
}

