
<footer class="footer">
	<div class="shell">
		<div class="footer__inner">
			<div class="grid grid--footer">
				<div class="grid__col grid__col--size-1">
					<a href="#" class="logo footer__logo">
						<img src="../assets/images/logo@2x.png" alt="" width="162" height="61">
					</a> <!-- logo footer__logo -->

					<div class="copyright"><p>Copyright 2015. <br> All Rights Reserved.</p></div><!-- /.copyright -->
				</div><!-- /.grid__col grid__col--size-1 -->
					
				<div class="grid__col grid__col--size-2">
					<nav class="footer__nav column-count-2">
						<ul>
							<li>
								<a href="#">
									<ul>
										<li>
											<a href="#">Home</a>
										</li>
										
										<li>
											<a href="#">About me</a>
										</li>
										
										<li>
											<a href="#">Services</a>
										</li>
										
										<li>
											<a href="#">Contact us</a>
										</li>
										
										<li>
											<a href="#">Why me</a>
										</li>
										
										<li class="is-current">
											<a href="#">Features</a>
										</li>
										
										<li>
											<a href="#">Contact us</a>
										</li>
									</ul>
								</a>
							</li>
						</ul>
					</nav><!-- /.footer__nav column-count-2 -->
				</div><!-- /.grid__col grid__col--size-1 -->
				
				<div class="grid__col grid__col--size-3">
					<div class="list-services">
						<ul>
							<li>
								<a href="#">Accounting</a>
							</li>
							
							<li>
								<a href="#">Tax consulting</a>
							</li>
							
							<li>
								<a href="#">Salary managment</a>
							</li>
							
							<li>
								<a href="#">Legal advice</a>
							</li>
						</ul>
					</div><!-- /.list-services -->
				</div><!-- /.grid__col grid__col--size-1 -->
				
				<div class="grid__col grid__col--size-4">
					<div class="contacts">
						<figure class="contacts__image">
							<img src="css/images/temp/" alt="">
							
							<span class="contacts__text">image</span>
							
							<span class="contacts__text">130 x 130</span>
						</figure><!-- /.contacts__image -->

						<ul class="contacts__content">
							<li>
								<h6>Johnatan Doe</h6>
							</li>
							
							<li>
								<address>
									Address will be appear here, some text will here, City, State, Country
								</address>
							</li>
							
							<li>
								<a href="tel:+215 123 4567" class="phone">Call Me : <strong>+215 123 4567</strong></a>
							</li>
						</ul><!-- /.contacts__content -->
					</div><!-- /.contacts -->
				</div><!-- /.grid__col grid__col--size-1 -->
			</div><!-- /.grid grid--footer -->
		</div><!-- /.footer__inner -->
	</div><!-- /.shell -->
</footer><!-- /.footer -->