<div class="header">
	<div class="shell">
		<div class="header__inner">
			<div class="header__actions">
				<a href="#" class="logo">
					<img src="../assets/images/logo@2x.png" alt="" width="162" height="61">
				</a>

				<a href="#" class="link link--book">
					Accountant
				</a>
			</div><!-- /.header__actions -->

			<div class="header__aside">
				<div class="components components--adjust">
					<ul>
						<li>
							<div class="socials">
								<ul>
									<li>
										<a href="#">
											<img src="../assets/images/socials-1.png" alt=""
											width="10" height="18">
										</a>
									</li>
									
									<li>
										<a href="#">
											<img src="../assets/images/socials-2.png" alt="" width="17" height="13">
										</a>
									</li>
									
									<li>
										<a href="#">
											<img src="../assets/images/socials-3.png" alt="" width="16" height="18">
										</a>
									</li>
								</ul>
							</div><!-- /.socials -->
						</li>
						
						<li>
							<span class="components__text">
								Absolutely free 
								quotation now
							</span>
						</li>
						
						<li>
							<a class="phone" href="tel:215 123 4567"><i class="ico__phone">
								<img src="../assets/images/header-image-1.png" alt="" width="23" height="26">
							</i> 
							<span>215 123 4567</span></a>
							</a>
						</li>
					</ul>
				</div><!-- /.components -->

				<nav class="nav nav--margin">
					<ul>
						<li class="is-current is-current--underline">
							<a href="#">Home</a>
						</li>
						
						<li>
							<a href="#">About me</a>
						</li>
						
						<li>
							<a href="#">Services</a>
						</li>
						
						<li>
							<a href="#">Why me</a>
						</li>
						
						<li>
							<a href="#">Features</a>
						</li>
						
						<li>
							<a href="#">Blog</a>
						</li>
						
						<li>
							<a href="#">Contact</a>
						</li>
					</ul>
				</nav><!-- /.nav -->
			</div><!-- /.header__aside -->

			<a href="#" class="nav-trigger">	
			</a>
		</div><!-- /.header__inner -->
	</div><!-- /.shell -->
</div><!-- /.header --><!-- Your header goes here -->
